locale: en
contact:
    from: username@gmail.com
    to: username@gmail.com
swiftmailer.options:
    host: smtp.gmail.com
    port: 465
    username: username@gmail.com
    password: blink182
    encryption: ssl
    auth_mode: login