<section class="banner">
    <div class="container">
        <div class="intro-well">
            <div class="col-md-12">
                <h1>{{ 'title_html'|trans|raw }}</h1>
                <p class="col-xs-12 col-sm-8 col-sm-offset-2">{{ 'description'|trans|raw }}</p>
                <a class="btn btn-primary" href="#">{{ 'view_portfolio'|trans }}</a>
            </div>
        </div>
    </div><!-- /container -->
</section>