<section class="contact" id="contact">
    <div class="container wow fadeIn animated">
        <h2>{{ 'contact'|trans }}</h2>
        <p>{{ 'lorem'|trans }}</p>
    </div><!-- /container -->
</section>